
.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
}

.formControl.error span {
    color:  red ;
    font-size: medium;
    padding: inherit;
}
.errorSpan{
    color:  red ;
    font-size: medium;
    padding: inherit;
}
.formControlError {
    border: solid red 1px;
    padding: 5 px;
    width: 200px;
    text-align: center;
    color: red;

}