.navBar {
    grid-area: nav;
    grid-template-areas: 2/1/span 1/span 1;
    padding:20px;
    box-shadow: 10px 10px 5px grey;
    /* background-color: rgba(147, 147, 180, 0.692); */
    /* background-color:rgba(148, 255, 219, 0.301); */
    margin: 20px;
    border-radius: 10px;
    height: fit-content;

}
.navLogo{
  width: 30px;
  height: 30px;
  margin: 5px;
  margin: 10px;
  margin-bottom: 0px;
}
.navDiv{
  display: inline;
}
ul {
  list-style-type: none;
  padding-inline-start: 0px;
  width: 100%;
  margin: 0 auto;
 

}

.item{
  
  display: block;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  /* padding: .5rem 1rem; */
  border-radius: 1px;
  height: 100%;
  width: 100%;
  padding-bottom: 20px;
}
.item a{
  
  color:white;
  text-decoration: none;
  align-items: center;
  text-align: center;
  height: 60px;
  font-family: Poppins-Bold;
  font-size: 22px;
  line-height: 1.2;
  display: block;
  margin: 0 auto;
  border-radius: 1px;
  padding-bottom: 20px;

  
}

a.active {
  font-family: Poppins-Bold;
  font-size: 22px;
  text-decoration: none;
  background: linear-gradient(0deg, rgb(245, 254, 255) 0%, rgba(169, 245, 255, 0.37) 100%);
  /* background-color:  rgba(97, 97, 110, 0.692); */
  color: rgb(56, 33, 184);
  display: block;
  align-items: center;
  text-align: center;
  border-radius: 1px;
  margin: 0 auto;
  width: 100%;  
  text-shadow: black 3px;

}
a#link:hover {
  text-decoration: none;
}
a#link:link {
  text-decoration: none;
}
a#link:active{
  color:rgba(194, 248, 250, 0.185);
}

